body {
  background-color: #fbfbfb;
}

h2,
text {
  font-family: "Bebas Neue", cursive;
}

h2 {
  margin: 0 0 10px;
}

text {
  font-size: 22px;
}

.darkblue {
  background-color: #071233 !important;
}

.darkblue-text {
  color: #071233 !important;
}

.header {
  position: relative;
}

.modal {
  max-width: 500px;
}

.canvas {
  margin-top: 40px;
}
